@model LoginModel;
@{
    ViewData["Title"] = "Login";
}
<div>
    <h1>Login Form</h1>
    <form asp-controller="Account" asp-action="LoginRequest" method="post">
        <ul class="list-unstyled">
            <li>
                <label class="float-start">Username:</label>
                <input type="text" asp-for=UserModel.Username required />
            </li>
            <li>
                <label class="float-start">Password:</label>
                <input type="Password" asp-for=UserModel.Password required />
            </li>
        </ul>
        <button class="btn-primary" type="submit">Login</button>
    </form>
    @if (Model.Response != null)
    {
        <text>@Model.Response</text>
    }
    <div>
        <ul class="list-unstyled">
            <li>
                <a asp-controller="Account" asp-action="ForgotPassword">Forgot Pasword</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Register">Register</a>
            </li>
        </ul>
    </div>
</div>