@model RegisterModel;
@{
    ViewData["Title"] = "Register";
}
<div>
    <h1>Register Form</h1>
    <form asp-controller="Account" asp-action="RegisterRequest">
        <ul class="list-unstyled">
            <li>
                <label class="float-start">Username:</label>
                <input type="text" asp-for=UserModel.Username required />
            </li>
            <li>
                <label class="float-start">Password:</label>
                <input type="Password" asp-for=UserModel.Password required />
            </li>
            <li>
                <label class="float-start">Email:</label>
                <input type="text" asp-for=UserModel.Email required />
            </li>
        </ul>
        <button class="btn-primary" type="submit">Register</button>
    </form>
    @if (Model.Response != null)
    {
        <text>@Model.Response</text>
    }
    <div>
        <a asp-controller="Account" asp-action="Login">I already have an account</a>
    </div>
</div>